@model FantasyBurgers.Models.Drink

@{
    ViewBag.Title = "Drink Details";
}

<div style="margin-top: 165px;">
    <h2>Drink Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Drink1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Drink1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrinkLongDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DrinkLongDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrinkPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DrinkPrice)
            </dd>


            <dd>
                <img src="@Url.Content(Model.DrinkImage)" class="img-rounded detailsimages" />
            </dd>
        </dl>
    </div>
    <p>
        @if (HttpContext.Current.User.IsInRole("Admin"))
            {
            @Html.ActionLink("Back to List", "Admin", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        }
    </p>
</div>