
<!--
    File Name: Index.cshtml
    Authors: Sahil Mahajan
             Waynell Lovell
             Anmol Sharma
    Website Name: fantasyburgers.azurewebsites.net
    File Description: Main file of the Drinks Page
 -->


@model IEnumerable<FantasyBurgers.Models.Drink>

@{
    ViewBag.Title = "Drinks";
}

<div style="margin-top: 165px;">
    <h2>Drinks</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Drink1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Drink1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkPrice)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.DrinkId }, new { @class = "btn btn-success btn-lg" })
                </td>
            </tr>
        }

    </table>
</div>
