@model IEnumerable<FantasyBurgers.Models.Drink>

@{
    ViewBag.Title = "Drinks";
}
<!--Author's name: Waynell Lovell,
                   Thiago De Andrade Souza,
                   Edward Song,
                   Sahil Mahajan,
                   Anmol .
    Date Created: November 30th, 2016
    Version	History: Part-1.Project Concept, Landing Page &	Site Security,
                     Part-2.Main Functionality & Database Connectivity,
                     Part-3.Finished Version – Fully Styled	and	Functional
    File Description: Lists all the items for the drink model. -->

<div style="margin-top:165px;">
    <h2>Drinks</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkPrice)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.DrinkId }, new { @class = "btn btn-success btn-lg" })
                </td>
            </tr>
        }

    </table>
</div>