@model FantasyBurgers.Models.Appetizer

@{
    ViewBag.Title = "Appetizer Details";
}
<div>
    <h4>Appetizer Detauks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppetizerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppetizerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppetizerLongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppetizerLongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppetizerPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppetizerPrice)
        </dd>
        <dd>
            <img class="detailsimages img-rounded" src="@Url.Content(Model.AppetizerImage)" />
        </dd>

    </dl>
</div>
<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "Admin", null, new { @class = "btn btn-primary btn-lg" })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-lg" })
    }
</p>
