
<!--
    File Name: Index.cshtml
    Authors: Sahil Mahajan
             Waynell Lovell
             Anmol Sharma
    Website Name: fantasyburgers.azurewebsites.net
    File Description: Main file of the Appetizers Page
 -->



@model IEnumerable<FantasyBurgers.Models.Appetizer>

@{
    ViewBag.Title = "Appetizers";
}
<div style="margin-top: 165px;">
    <h2>Appetizers</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppetizerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppetizerShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppetizerPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppetizerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppetizerShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppetizerPrice)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AppetizerId }, new { @class = "btn btn-success btn-lg" })
                </td>
            </tr>
        }

    </table>
</div>
