@model IEnumerable<FantasyBurgers.Models.Burger>

@{
    ViewBag.Title = "Admin Burgers";
}
<div style="margin-top: 165px;">

    <p>
        @Html.ActionLink("Create New Burger", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurgerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurgerShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurgerPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurgerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurgerShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurgerPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BurgerId }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BurgerId }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BurgerId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>