@*
 * This file shows the manage menu index screen
 * Filename: Index.cshtml
 * Modified date: 12/16/2016
 * Website: fantasyburgers.azurewebsites.net
 * Authors:
 *      - Eddie Song
 *      - Waynnel Lovelll
 *      - Thiago de Andrade
 *      - Sahil Mahajan
 *      - Anmol Sharma
 *@
@model IEnumerable<FantasyBurgers.Models.Menu>

@{
    ViewBag.Title = "Manage Menu";
}
<div style="margin-top: 165px" class="col-md-offset-2">
    <p>
        @Html.ActionLink("Create New Item", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Category.Category1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MenuId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.MenuId }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.MenuId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>