@model IEnumerable<FantasyBurgers.Models.Side>

@{
    ViewBag.Title = "Admin Sides";
}
<!--Author's name: Waynell Lovell,
                   Thiago De Andrade Souza,
                   Edward Song,
                   Sahil Mahajan,
                   Anmol .
    Date Created: November 30th, 2016
    Version	History: Part-1.Project Concept, Landing Page &	Site Security,
                     Part-2.Main Functionality & Database Connectivity,
                     Part-3.Finished Version – Fully Styled	and	Functional
    File Description: Allows the admin user to create and edit the Sides. Also allows admin user to
    view Sides details. -->

<div style="margin-top: 165px">
    <p>
        @Html.ActionLink("Create New Side", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SideName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SideShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SidePrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SideName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SideShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SidePrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SideId }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SideId }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SideId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>