@model FantasyBurgers.Models.Side

@{
    ViewBag.Title = "Side Details";
}
<!--Author's name: Waynell Lovell,
                   Thiago De Andrade Souza,
                   Edward Song,
                   Sahil Mahajan,
                   Anmol .
    Date Created: November 30th, 2016
    Version	History: Part-1.Project Concept, Landing Page &	Site Security,
                     Part-2.Main Functionality & Database Connectivity,
                     Part-3.Finished Version – Fully Styled	and	Functional
    File Description: Allows admin user to view the details for the side dish. -->

<div style="margin-top:165px;">
    <h4>Side Details</h4>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SideName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SideName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SideLongDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SideLongDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SidePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SidePrice)
            </dd>

            <dd>
                <img class="detailsimages img-rounded" src="@Url.Content(Model.SideImage)" />
            </dd>

        </dl>
    </div>
    <p>
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Back to List", "Admin", null, new { @class = "btn btn-primary btn-lg" })
        }
        else
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-lg" })
        }
    </p>
</div>